{{ define "main" }}
  <section class="hero">
    <h1>{{ .Title }}</h1>
  </section>
  <section class="section-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p>{{ .Params.details }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>{{ .Params.our_mission.headline }} </h3>
          <h4>{{ .Params.our_mission.statement }}</h4>
          <p>{{ .Params.our_mission.details }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-light"></section>
{{ end }}