{{ define "main" }}
  <section class="hero">
    <h1>{{ .Title }}</h1>
  </section>
  <section class="section-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          img
        </div>
        <div class="col-lg-6">
          <p class="paragraph-large">{{ .Params.details }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-dark" style="background-image: url('{{ .Params.our_mission.background_path }}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h3 class="h3-left">{{ .Params.our_mission.headline }} </h3>
          <h4>{{ .Params.our_mission.statement }}</h4>
          <p class="paragraph-large">{{ .Params.our_mission.details }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-light"></section>
{{ end }}