{{ define "main" }}
  <section class="hero">
    <h1>{{ .Title }}</h1>
  </section>
  <section class="section-light">
    <img src="{{ "/images/section-blob-top-right-yellow.svg" }}" class="section-blob-top-right" aria-hidden="true">
    <img src="{{ "/images/section-blob-bottom-left-blue.svg" }}" class="section-blob-bottom-left" aria-hidden="true">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 hide show-md">
          <div class="image about-us-image">
            <img src="{{ "/images/about-us-image-dots.svg" }}" class="image-dots" aria-hidden="true">
            <div class="image-frame">
              <img src="{{ "/images/about-us.jpg" }}" class="" aria-hidden="true">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="h3-left">{{ .Params.headline }} </h3>
          <p class="paragraph-large">{{ .Params.details }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-dark" style="background-image: url('{{ .Params.our_mission.background_path }}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h3 class="h3-left">{{ .Params.our_mission.headline }} </h3>
          <h4>{{ .Params.our_mission.statement }}</h4>
          <p class="paragraph-large">{{ .Params.our_mission.details }}</p>
        </div>
      </div>
    </div>
  </section>
{{ end }}
