<!DOCTYPE html>
<html lang="{{ .Page.Language.Lang}}">
<head>
	<title>{{.Title}} | {{.Site.Title}}</title>
  {{ $options := (dict "outputStyle" "compressed")}}
  {{ $sass := resources.Get "styles/main.scss" }}
  {{ $style := $sass | resources.ToCSS $options }}
  {{ $js := resources.Get "js/main.js" | js.Build }}
  {{ with .Params.forestry_instant_preview_id }}
  {{- safeHTML (printf "<meta property='forestry_instant_preview_id' content='%s'>" .) -}}
  {{ end -}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ if isset .Params "page_description" }} {{ index .Params "page_description" }}{{ end }}">
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="icon" type="image/png" href="{{ "/images/favicon.png" }}">
  <script src="{{ $js.RelPermalink }}" defer></script>
</head>
<body>
  <nav class="nav">
    <a href="/" class="logo-link">
      <img src="{{ "/images/qftc-logo.png" }}" class="logo" alt="Quincy For Transformative Change">
    </a>
    <div class="nav-links nav-links-hidden-mobile">
      <div class="close-nav hide-md-up" aria-hidden="true">
        <img src="{{ "/images/close.svg" }}" alt="" aria-hidden="true">
      </div>

      {{ $articles := where site.RegularPages "Type" "in" site.Params.mainSections }}
      {{ range $.Site.Menus.main }}
        {{ if and (not $articles) (eq .Identifier "archive")}}
        {{ else }}
          <a href="{{ .URL | relLangURL }}" class="nav-link {{ cond (eq $.Page.Title .Name) "active" "" }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}

      {{ if .IsTranslated}}
        <div class="language-picker-mobile hide-md-up">
          <div class="nav-link active-language">
            <img src="{{ "/images/" $.Page.Language ".png" }}" alt="">
            <span>{{ $.Page.Language.Params.languageName }}</span>
          </div>
          {{ with .Translations}}
              {{ range .}}
                <a href="{{ .RelPermalink }}" class="nav-link">
                  <img src="{{ "/images/" .Language ".png" }}" alt="">
                  <span>{{ .Language.Params.languageName }}</span>
                </a>
              {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
    <div class="open-nav hide-md-up" aria-hidden="true">
      <img src="{{ "/images/hamburger.svg" }}" alt="" aria-hidden="true">
    </div>
  </nav>
  {{ block "main" . }}
  {{ end }}
  <footer id="footer" class="section-dark">
    <div class="container center-text">
      <h3>Connect with Us!</h3>
      <div class="row justify-content-center">
        <form name="mailing_list" method="POST" action="/join_success/" netlify>
          <div class="field">
            <input type="text" name="email" placeholder="Enter email address" aria-label="Enter Email Address">
            <div class="button-secondary">
              <button type="submit" class="text" aria-label="Join email list">Join email list</button>
            </div>
          </div>
        </form>
        <a href="https://www.facebook.com/quincychange" class="icon-link" aria-label="instagram link">
          <svg width="85px" height="85px" viewBox="0 0 85 85" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
            <g id="Group-12" transform="translate(0, 0)">
                <path d="M51.4274019,43.6795898 L52.6711592,35.4174687 L44.890357,35.4174687 L44.890357,30.0558633 C44.890357,27.7954844 45.9772336,25.5922461 49.4622937,25.5922461 L53,25.5922461 L53,18.5582891 C53,18.5582891 49.7893708,18 46.7200135,18 C40.3116301,18 36.1232969,21.9568984 36.1232969,29.1204102 L36.1232969,35.4174687 L29,35.4174687 L29,43.6795898 L36.1232969,43.6795898 L36.1232969,63.6527539 C37.5516248,63.8811367 39.0155793,64 40.5068711,64 C41.9981628,64 43.4621173,63.8811367 44.890357,63.6527539 L44.890357,43.6795898 L51.4274019,43.6795898 Z" id="Facebook_Path1"></path>
            </g>
          </svg>
        </a>
        <a href="https://www.instagram.com/quincyftc/" class="icon-link" aria-label="instagram link">
          <svg width="85px" height="85px" viewBox="0 0 85 85" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
            <g id="iconfinder_SocialMedia_Instagram-Outline_2959748" transform="translate(19.000000, 20.000000)">
              <path d="M31.9183673,3.75510204 C37.6215527,3.75510204 42.244898,8.37844728 42.244898,14.0816327 L42.244898,31.9183673 C42.244898,37.6215527 37.6215527,42.244898 31.9183673,42.244898 L14.0816327,42.244898 C8.37844728,42.244898 3.75510204,37.6215527 3.75510204,31.9183673 L3.75510204,14.0816327 C3.75510204,8.37844728 8.37844728,3.75510204 14.0816327,3.75510204 L31.9183673,3.75510204 M31.9183673,0 L14.0816327,0 C6.31419094,0.0231980895 0.0231980895,6.31419094 0,14.0816327 L0,31.9183673 C0.0231980895,39.6858091 6.31419094,45.9768019 14.0816327,46 L31.9183673,46 C39.6858091,45.9768019 45.9768019,39.6858091 46,31.9183673 L46,14.0816327 C45.9768019,6.31419094 39.6858091,0.0231980895 31.9183673,0 Z" id="Instagram_Shape1"></path>
              <path d="M35.5,8 C34.1192881,8 33,9.11928813 33,10.5 C33,11.8807119 34.1192881,13 35.5,13 C36.8807119,13 38,11.8807119 38,10.5 C38,9.83695878 37.7366079,9.20107399 37.267767,8.73223305 C36.798926,8.2633921 36.1630412,8 35.5,8 Z" id="Instagram_Path1"></path>
              <path d="M22.9766405,14.7383575 C26.3190269,14.7364689 29.3332636,16.7486678 30.6132127,19.8362671 C31.8931618,22.9238663 31.1866247,26.4784919 28.8232003,28.8419149 C26.4597759,31.205338 22.9051482,31.9118746 19.8175471,30.6319263 C16.729946,29.351978 14.7177459,26.337743 14.7196345,22.9953586 C14.7273531,18.438344 18.4196232,14.7460761 22.9766405,14.7383575 M22.9766405,11.0000226 C16.351676,11.012945 10.9905695,16.3921693 11.0000125,23.0171357 C11.0094804,29.6421022 16.3859201,35.0060013 23.0108945,34.999995 C29.6358688,34.9939785 35.0025654,29.6203313 34.9999991,22.9953586 C34.9987636,19.8095219 33.730728,16.7549337 31.4753717,14.504838 C29.2200153,12.2547423 26.1624733,10.9938422 22.9766405,11.0000226 L22.9766405,11.0000226 Z" id="Instagram_Shape2"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </footer>
  {{ if .IsTranslated }}
    <div class="language-picker">
      {{ with .Translations}}
        <div class="language-picker-translations" id="language-picker-translations">
          {{ range .}}
            <a href="{{ .RelPermalink }}" class="language-picker-option">
              <img src="{{ "/images/" .Language ".png" }}" alt="">
              <span>{{ .Language.Params.languageName }}</span>
            </a>
          {{ end }}
        </div>
      {{ end }}
      <div class="language-picker-option-current {{ cond ($.Page.IsTranslated) "toggle-picker" "" }}">
        <img src="{{ "/images/" $.Page.Language ".png" }}" alt="">
        <span>{{ $.Page.Language.Params.languageName }}</span>
      </div>
    </div>
  {{ end }}

  <script>
    window.onload = (event) => {
      mobileNav();
      {{ if eq .Title "Get Involved" }}
        smoothScroll();
      {{ end }}

      {{ if eq .Title "Home" }}
        navFill();
      {{ end }}

      {{ if $.Page.IsTranslated }}
        languagePicker();
      {{ end }}
    }
  </script>
</body>
</html>
