<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>
  {{ $sass := resources.Get "styles/main.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  {{ $js := resources.Get "js/main.js" | js.Build }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <script type="text/javascript" src="{{ $js.Permalink }}" defer></script>
</head>
<body>
  <nav class="nav">
    <div>logo</div>
    <div class="nav-links">
      <a href="/" class="nav-link {{ if eq .Title "Home" }} active {{ end }}">Home</a>
      <a href="/about_us" class="nav-link {{ if eq .Title "About Us" }} active {{ end }}">About Us</a>
      <a href="/get_involved" class="nav-link {{ if eq .Title "Get Involved" }} active {{ end }}">Get Involved</a>
      <a href="/posts" class="nav-link {{ if eq .Title "QFTC Archive" }} active {{ end }}">QFTC Archive</a>
      <a href="/contact_us" class="nav-link {{ if eq .Title "Contact Us" }} active {{ end }}">Contact Us</a>
    </div>
  </nav>
  {{ block "main" . }}
  {{ end }}
  <footer>
  </footer>
</body>
</html>