@import 'grid/bootstrap-grid';

body {
  
}

.hero {
  background: black;
  color: white;
  text-align: center;
}

.section-dark {
  background: black;

  * {
    color: white;
  }
}

.section-light {
  background: white;
}