{{ define "main" }}
  <section class="hero-home">
    <h1>{{ .Params.hero.headline }}</h1>
    <h2>{{ .Params.hero.subheadline }}</h2>
  </section>
  <section class="section-dark">
    <div class="container">
      <div class="row justify-content-center center-text">
        <div class="col-lg-8 col-m-10">
          <h3>{{ .Params.who_we_are.headline }}</h3>
          <p class="paragraph-large">{{ .Params.who_we_are.details }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-light">
    {{ range where .Data.Pages "layout" "single" }}
      <li>
        <a href="{{.Permalink}}">{{.Title}}</a>
      </li>
    {{ end }}
  </section>
{{ end }}