{{ define "main" }}
{{ $articles := where site.RegularPages "Type" "in" site.Params.mainSections }}
  <section class="hero-home">
    <img src="images/hero-blob-blue.svg" class="hero-home-blob-blue">
    <img src="images/hero-blob-yellow.svg" class="hero-home-blob-yellow">
    <div class="row hero-home-content">
      <div class="col-lg-7 col-12">
        <h1>{{ .Params.hero.headline }}</h1>
        <h2>{{ .Params.hero.subheadline }}</h2>
        <a href="{{ .Params.hero.cta.url }}" class="button button-blue">
          <div class="text">{{ .Params.hero.cta.text }}</div>
        </a>
      </div>
      <div class="col-5 hide show-md">
        <div class="hero-home-image">
          <img src="images/hero-home-image-dots.svg" class="hero-home-image-dots" aria-hidden="true">
          <div class="hero-home-image-frame">
            <img src="images/hero-home-image.jpg" class="hero-home-image-picture" aria-hidden="true">
          </div>
          <div class="hero-home-image-stroke"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-dark" style="background-image: url('{{ .Params.who_we_are.background_path }}');">
    <div class="container">
      <div class="row justify-content-center center-text">
        <div class="col-lg-8 col-m-10">
          <h3 class="h3-center">{{ .Params.who_we_are.headline }}</h3>
          <p class="paragraph-large">{{ .Params.who_we_are.details }}</p>
        </div>
      </div>
    </div>
  </section>
  {{ if $articles }}
  <section class="section-light">
    <img src="../images/section-blob-top-right-yellow.svg" class="section-blob-top-right" aria-hidden="true">
    <img src="../images/section-blob-bottom-left-blue.svg" class="section-blob-bottom-left" aria-hidden="true">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <h3 class="h3-center center-text">{{ .Params.latest.headline }}</h3>
          <div class="post-summaries">
            {{ range last 3 $articles }}
              {{ partial "post_summary.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
      <div class="center-text">
        <div class="squiggle">
          <img src="/images/headline-squiggle.svg" aria-hidden="true">
        </div>
        <a href="/archive" class="button-secondary">
          <div class="text">See all articles</div>
        </a>
      </div>
    </div>
  </section>
  {{ end }}

  <script type="text/javascript">
    window.onload = (event) => {
      navFill();
    }
  </script>
{{ end }}