{{ define "main" }}
  <section class="hero">
    <h1>{{ .Title }}</h1>
  </section>
  <section class="page-nav center-text">
    <a href="#!" class="button-page-nav" data-anchor="{{ replace (lower .Params.take_action.headline) " " "-"}}">
      <div class="text">{{ .Params.take_action.headline }}</div>
    </a>

    <a href="#!" class="button-page-nav" data-anchor="{{ replace (lower .Params.task_forces.headline) " " "-"}}">
      <div class="text">{{ .Params.task_forces.headline }}</div>
    </a>

    <a href="#!" class="button-page-nav" data-anchor="{{ replace (lower .Params.other_groups.headline) " " "-"}}">
      <div class="text">{{ .Params.other_groups.headline }}</div>
    </a>
  </section>
  <section class="section-dark" id="{{ replace (lower .Params.take_action.headline) " " "-"}}">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-xl-1 col-12">
          <h3 class="h3-left"> {{ .Params.take_action.headline }} </h3>
        </div>
      </div>
    </div>
  </section>
  <section class="section-light" id="{{ replace (lower .Params.task_forces.headline) " " "-"}}">
    <h3 class="center-text"> {{ .Params.task_forces.headline }} </h3>
    <div class="container">
      <div class="row">
        {{ range .Params.task_forces.list }}
          <div class="task-force col-md-6 col-12 center-text">
            <img src="{{ .icon_url }}">
            <h5>{{ .name }}</h5>
            <p>{{ .blurb }}</p>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="section-dark" style="background-image: url('{{ .Params.other_groups.background_path }}');" id="{{ replace (lower .Params.other_groups.headline) " " "-"}}">
    <h3 class="center-text"> {{ .Params.other_groups.headline }} </h3>
    <div class="container other-groups">
      <div class="row justify-content-center">
        {{ range .Params.other_groups.list }}
          <div class="col-lg-4 col-md-6 col-12">
            <a href="{{ .url }}" class="other-group center-text" target="_blank">
              <h5>{{ .name }}</h5>
              <p class="other-group-blurb">{{ .blurb }}</p>
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  <script type="text/javascript">
    window.onload = (event) => {
      smoothScroll();
    }
  </script>
{{ end }}