{{ define "main" }}
  <section class="hero">
    <h1>{{ .Title }}</h1>
  </section>
  <section class="section-light">
    <img src="../images/section-blob-top-right-yellow.svg" class="section-blob-top-right">
    <img src="../images/section-blob-bottom-left-blue.svg" class="section-blob-bottom-left">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-12">
          <p class="paragraph-large">{{ .Params.instructions }}</p>
          <form name="contact" method="POST" action="/message_sent/" netlify>
            <div class="field">
              <label>{{ .Params.form.email.label }}</label>
              <input type="text" name="{{ .Params.form.email.name }}" placeholder="{{ .Params.form.email.placeholder }}" required="{{ .Params.form.email.required }}">
            </div>

            <div class="field">
              <label>{{ .Params.form.name.label }}</label>
              <input type="text" name="{{ .Params.form.name.name }}" placeholder="{{ .Params.form.name.placeholder }}" required="{{ .Params.form.name.required }}">
            </div>

            <div class="field">
              <label>{{ .Params.form.reason.label }}</label>
              <select name="{{ .Params.form.reason.name }}" placeholder="{{ .Params.form.reason.placeholder }}" required="{{ .Params.form.reason.required }}">
                {{ range .Params.form.reason.reasons }}
                  <option>{{ . }}</option>
                {{ end }}
              </select>
            </div>

            <div class="field">
              <label>{{ .Params.form.name.label }}</label>
              <textarea type="text" name="{{ .Params.form.message.name }}" placeholder="{{ .Params.form.message.placeholder }}" required="{{ .Params.form.message.required }}"></textarea>
            </div>
            <div class="field">
              <div class="button">
                <button type="submit" class="text">
                  {{ .Params.form.cta }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{{ end }}